In [9]:
#Other imports
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import os

In [6]:
specific_path = r"C:\Users\Karl Josef Malaki\.cache\kagglehub\datasets\shahriarkabir\procurement-kpi-analysis-dataset\versions\1"

all_items = os.listdir(specific_path)

csv_files = [i for i in all_items if i.endswith(".csv")]

if csv_files:
    target_file = csv_files[0]

    #full path
    full_path = os.path.join(specific_path, target_file)
    print(f"\full path: {full_path}")

ull path: C:\Users\Karl Josef Malaki\.cache\kagglehub\datasets\shahriarkabir\procurement-kpi-analysis-dataset\versions\1\Procurement KPI Analysis Dataset.csv

In [11]:
df = pd.read_csv(r"C:\Users\Karl Josef Malaki\.cache\kagglehub\datasets\shahriarkabir\procurement-kpi-analysis-dataset\versions\1\Procurement KPI Analysis Dataset.csv")

In [12]:
df.head()

,PO_ID,Supplier,Order_Date,Delivery_Date,Item_Category,Order_Status,Quantity,Unit_Price,Negotiated_Price,Defective_Units,Compliance
0,PO-00001,Alpha_Inc,2023-10-17,2023-10-25,Office Supplies,Cancelled,1176,20.13,17.81,NaN,Yes
1,PO-00002,Delta_Logistics,2022-04-25,2022-05-05,Office Supplies,Delivered,1509,39.32,37.34,235.0,Yes
2,PO-00003,Gamma_Co,2022-01-26,2022-02-15,MRO,Delivered,910,95.51,92.26,41.0,Yes
3,PO-00004,Beta_Supplies,2022-10-09,2022-10-28,Packaging,Delivered,1344,99.85,95.52,112.0,Yes
4,PO-00005,Delta_Logistics,2022-09-08,2022-09-20,Raw Materials,Delivered,1180,64.07,60.53,171.0,No

In [16]:
df_copy = df.copy()

df_copy.info()

<class 'pandas.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PO_ID             777 non-null    str
 1   Supplier          777 non-null    str
 2   Order_Date        777 non-null    str
 3   Delivery_Date     690 non-null    str
 4   Item_Category     777 non-null    str
 5   Order_Status      777 non-null    str
 6   Quantity          777 non-null    int64
 7   Unit_Price        777 non-null    float64
 8   Negotiated_Price  777 non-null    float64
 9   Defective_Units   641 non-null    float64
 10  Compliance        777 non-null    str
dtypes: float64(3), int64(1), str(7)
memory usage: 66.9 KB

In [17]:
df_copy.isna().sum()

PO_ID                 0
Supplier              0
Order_Date            0
Delivery_Date        87
Item_Category         0
Order_Status          0
Quantity              0
Unit_Price            0
Negotiated_Price      0
Defective_Units     136
Compliance            0
dtype: int64

In [19]:
df_copy.describe()

          Quantity  Unit_Price  Negotiated_Price  Defective_Units
count   777.000000  777.000000        777.000000       641.000000
mean   1094.660232   58.283822         53.660721        74.803432
std     647.844551   28.101315         26.094930        69.187870
min      51.000000   10.840000          9.270000         0.000000
25%     615.000000   33.290000         30.460000        26.000000
50%    1075.000000   58.950000         53.800000        49.000000
75%    1548.000000   83.130000         76.550000       100.000000
max    5000.000000  109.170000        107.390000       321.000000

11.19% missing data for date column and 17.5% missing data for defective units column

In [34]:
df_copy

,PO_ID,Supplier,Order_Date,Delivery_Date,Item_Category,Order_Status,Quantity,Unit_Price,Negotiated_Price,Defective_Units,Compliance
0,PO-00001,Alpha_Inc,2023-10-17,2023-10-25,Office Supplies,Cancelled,1176,20.13,17.81,NaN,Yes
1,PO-00002,Delta_Logistics,2022-04-25,2022-05-05,Office Supplies,Delivered,1509,39.32,37.34,235.0,Yes
2,PO-00003,Gamma_Co,2022-01-26,2022-02-15,MRO,Delivered,910,95.51,92.26,41.0,Yes
3,PO-00004,Beta_Supplies,2022-10-09,2022-10-28,Packaging,Delivered,1344,99.85,95.52,112.0,Yes
4,PO-00005,Delta_Logistics,2022-09-08,2022-09-20,Raw Materials,Delivered,1180,64.07,60.53,171.0,No
...,...,...,...,...,...,...,...,...,...,...,...
772,PO-00773,Delta_Logistics,2023-02-11,2023-02-20,Electronics,Delivered,1685,43.42,42.24,262.0,Yes
773,PO-00774,Alpha_Inc,2022-07-23,NaN,Office Supplies,Delivered,445,68.94,60.35,7.0,Yes
774,PO-00775,Gamma_Co,2022-03-19,2022-04-07,Raw Materials,Delivered,494,94.82,81.89,29.0,Yes
775,PO-00776,Beta_Supplies,2023-08-30,2023-09-11,MRO,Delivered,1306,21.05,18.27,128.0,Yes
776,PO-00777,Beta_Supplies,2023-12-09,2023-12-11,Office Supplies,Delivered,1988,105.20,93.23,187.0,Yes

In [40]:
#to_datetime cols 2 and 3
df_copy[["Order_Date", "Delivery_Date"]] = df_copy[["Order_Date", "Delivery_Date"]].apply(pd.to_datetime)

df_copy.iloc[:, 2: 4].isna().sum()

Order_Date        0
Delivery_Date    87
dtype: int64

In [43]:
df_copy.dropna(inplace=True)

In [44]:
df_copy.isna().sum()

PO_ID               0
Supplier            0
Order_Date          0
Delivery_Date       0
Item_Category       0
Order_Status        0
Quantity            0
Unit_Price          0
Negotiated_Price    0
Defective_Units     0
Compliance          0
dtype: int64